/* Esto es para que el boton de usuario quede tactil */
.dropdown:hover .dropdown-menu {
    display: block;
}
/*Botones de arriba*/
.contendorBoton{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}
.btnCarritoLogin{
    display: flex;
    margin-right: 60px;
}
.btnBuscar{
    margin-left: 30px;
}
.carruselCard{
    display: flex;
    justify-content: center;
}
.Ccard{
    margin-right: 20px;
}

.img1{
    display: inline-block;
    margin: 20px;
    

}